nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  
}

nav a{
  text-decoration: none;
  font-family: 'Poppins' sans-serif;
}

.nav_img{
  display: flex;
  text-align: center;
}

.nav_img img{
  width: 10%;
}

.nav_img a {
  color:blueviolet;
  text-align: center;font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: black;
}

.nav-links li{
  list-style: none;
  display: inline-block;
}

.nav-links li:hover {
  color: rgba(171, 145, 223, 1);
}

.sign button{
  background-color: rgba(171, 145, 223, 1);
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(127, 87, 158, 1)
}

.sign a:link {
  color: white;
  text-decoration: none;
}

.sign a:visited {
  color: white;
  text-decoration: none;
}